{% extends "layout.html" %}
{% block content %}
<div class="d-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
    <div class="lh-100">
        <h5 class="lh-100">
            {{ title }}
        </h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.address1.label(class="form-control-label") }}
                        {% if form.address1.errors %}
                            {{ form.address1(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.address1.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.address1(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        {{ form.address2.label(class="form-control-label") }}
                        {% if form.address2.errors %}
                            {{ form.address2(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.address2.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.address2(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        {{ form.city.label(class="form-control-label") }}
                        {% if form.city.errors %}
                            {{ form.city(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.city.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.city(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.state.label(class="form-control-label") }}
                        {% if form.state.errors %}
                            {{ form.state(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.state.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.state(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form.zip_code.label(class="form-control-label") }}
                        {% if form.zip_code.errors %}
                            {{ form.zip_code(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.zip_code.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.zip_code(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        {{ form.source.label(class="form-control-label") }}
                        {% if form.source.errors %}
                            {{ form.source(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.source.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.source(class="form-control form-control-sm") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row d-flex justify-content-end">
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}