{% extends "layout.html" %}
{% block content %}
<div class="d-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
    <div class="lh-100">
        <h5 class="lh-100">
            {{ title }}
        </h5>
    </div>
</div>
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <div class="card-body table-responsive-md" >
            <table Class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Fax</th>
                        <th scope="col">Role</th>
                        <th scope="col">Facility</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <th scope="col"><a href="{{ url_for('users.user', user_id=user.id)}}">{{ user.firstname }} {{ user.lastname }}</a></th>
                            <td>{{ user.email}}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.fax }}</td>
                            <td>{{ user.role }}</td>
                            <td scope="col"><a href="{{ url_for('facilities.facility', facility_id=user.facility_id)}}">{{ user.facility_user.name }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
