{% extends "layout.html" %}
{% block content %}
  <div class="d-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
      <div class="lh-100">
          <h5 class="lh-100">
              {{ title }}
          </h5>
      </div>
  </div>
  {% for user in users %}
    <div class="row">
      <div class="col-md-12">
        <div class="content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ user.firstname }}</a>
              <small class="text-muted">{{ user.lastname }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ user.role }}</a></h2>
            <p class="article-content">{{ user.user_loc.name }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}