{% extends "layout.html" %}
{% block content %}
    <div class="d-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm">
        <div class="lh-100">
            <h5 class="lh-100">
                {{ title }}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="content-section">
                <div class="form-group">
                    <div class="form-row">
                        <legend class="col-form-label col-md-12 p-1 my-1 text-white bg-secondary rounded shadow-sm">Facility Info</legend>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Facility Name: </span>{{ referral.referral_loc.name }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Address: </span>{{ referral.referral_loc.address1}} {{ referral.referral_loc.address1}}, {{ referral.referral_loc.city}}, {{ referral.referral_loc.state}} {{ referral.referral_loc.zip_code}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Source: </span>{{ referral.referral_loc.source}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <legend class="col-form-label col-md-12 p-1 my-1 text-white bg-secondary rounded shadow-sm">Patient Info</legend>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold pr-3">Name: </span>{{ referral.firstname }} {{ referral.lastname }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold pr-3">SSN: </span>{{ referral.ssn }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Phone: </span>{{ referral.phone }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Email: </span>{{ referral.email }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Date of Birth: </span>{{ referral.dob.strftime('%m/%d/%Y') }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold pr-3">P.O.A.: </span>{{ referral.poa }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold pr-3">Contact #: </span>{{ referral.contact }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <span class="font-weight-bold pr-3">P.O.A. Adress: </span>{{ referral.poa_address1 }}, {{ referral.city }}, {{ referral.state }} {{ referral.zip_code }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold pr-3">Medicare #: </span>{{ referral.medicare }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <span class="font-weight-bold pr-3">Secondary Insurance #: </span>{{ referral.secondary }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <legend class="col-form-label col-md-12 p-1 my-1 text-white bg-secondary rounded shadow-sm">Diagnosis / Reason for referral / Additional notes</legend>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            {{ referral.notes }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <legend class="col-form-label col-md-12 p-1 my-1 text-white bg-secondary rounded shadow-sm">Discipline to evaluate &amp; treat</legend>
                    </div>
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-check form-check-inline form-group col-sm-3">
                            {% if referral.disc_slp %}
                                <span><i class="far fa-check-square"></i></span>
                            {% else %}
                                <span><i class="far fa-square"></i></span>
                            {% endif %}
                                <span class="form-check-label pl-2">Treatment of Swallowing Dysfunction/ Oral Function</span>
                        </div>
                        <div class="form-check form-check-inline form-group col-sm-3">
                            {% if referral.disc_ot %}
                                <span><i class="far fa-check-square"></i></span>
                            {% else %}
                                <span><i class="far fa-square"></i></span>
                            {% endif %}
                                <span class="form-check-label pl-2">Treatment of Swallowing Dysfunction/ Oral Function</span>
                        </div>
                        <div class="form-check form-check-inline form-group col-sm-3">
                            {% if referral.disc_pt %}
                                <span><i class="far fa-check-square"></i></span>
                            {% else %}
                                <span><i class="far fa-square"></i></span>
                            {% endif %}
                                <span class="form-check-label pl-2">Treatment of Swallowing Dysfunction/ Oral Function</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row d-flex justify-content-between">
                        <legend class="col-form-label col-md-12 p-1 my-1 text-white bg-secondary rounded shadow-sm">Evaluate &amp; treat as indicated</legend>
                        </div>
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_oral %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Treatment of Swallowing Dysfunction/ Oral Function</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_speech %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Treatment of Speech, Voice, and Language Deficits</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_cognitive %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Cognitive Skills Development</span>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_caregiver %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Caregiver Education</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_dementia %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Dementia Management/Caregiver Training</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_adl %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">ADL Training/Safety</span>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_safety %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Home Safety Assessment</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_upper_extremity %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Upper Extremity Prosthetic or Orthotic  Fitting and Training</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_ther_exercise %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Therapeutic Exercise</span>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_balance %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Balance Training</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_ther_activity %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Therapeutic Activity</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_coordination %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Coordination Propioception Training</span>
                                </div>
                        </div>
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_transfer %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Transfer Training</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_range %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Range of Motion</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_massage %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Manual Therapy/Massage</span>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_pain %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Pain Management</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_wheelchair %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Wheelchair Provision/Training</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_lower_extremity %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Lower Extremity Prosthetic or Orthotic  Fitting and Training</span>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_cane %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Provision of Assistive Device i.e. cane,  walker</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_postural %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Postural Training</span>
                            </div>
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_gait %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Gait/Endurance Training</span>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-check form-check-inline form-group col-sm-3">
                                {% if referral.treat_other %}
                                    <span><i class="far fa-check-square"></i></span>
                                {% else %}
                                    <span><i class="far fa-square"></i></span>
                                {% endif %}
                                    <span class="form-check-label pl-2">Other: </span> <span class="form-check-label pl-2">{{ referral.treat_other_desc }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <legend class="col-form-label col-md-12 p-1 my-1 text-white bg-secondary rounded shadow-sm">Primary Medical Contact Info</legend>
                    </div>
                    <div class="form-row">
                        <div class="form-check form-check-inline form-group col-sm-2">
                            <span class="font-weight-bold pr-3">Medical Type: </span>{{ referral.med_type.upper() }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Name: </span>{{ referral.med_firstname }} {{ referral.med_lastname }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">NPI: </span>{{ referral.med_npi }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Phone: </span>{{ referral.med_phone }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Fax: </span>{{ referral.med_fax }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <span class="font-weight-bold pr-3">Email: </span>{{ referral.med_email }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <span class="font-weight-bold pr-3">Address: </span>{{ referral.med_address1 }} {{ referral.med_address2 }}, {{ referral.med_city }}, {{ referral.med_state }} {{ referral.med_zip_code }}
                        </div>
                    </div>
                </div>
                <div class="form-row d-flex justify-content-between">
                    <div class="form-group d-flex justify-content-start">
                        <button type="button" class="btn btn-outline-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <a class="btn btn-outline-secondary btn-sm m-1" href="{{ url_for('referrals.update_referral',referral_id=referral.id) }}">Update</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="container">
        <div class="modal fade row" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center text-white bg-dark rounded shadow-sm">
                        <div class="lh-100">
                            <h5 class="lh-100">
                                Delete Referral?
                            </h5>
                        </div>
                    </div>
                    <div class="modal-footer form-row d-flex justify-content-between">
                        <div class="form-group d-flex justify-content-start">
                            <form action="{{ url_for('referrals.delete_referral',referral_id=referral.id) }}" method="POST">
                                <input type="submit" class="btn btn-outline-danger" value="Delete"></button>
                            </form>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}